<!DOCTYPE html>
<html>
<head>
	<title>Visualization</title>
	<style>
		.img-container {
			position: absolute;
  			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
		}
	  </style>
</head>
<body style="background-color:powderblue;">
<h1 style="font-family:verdana;background-color:rgba(56, 56, 56, 0.4);text-align:center;"><b>DSS SAHAM</b></h1>
	<div>
		
        <div class="img-container" style="border: 1px solid black; position:relative; min-height: 200px">
			<h2 style="border-style: solid;text-align: center;">Mean Variance Graph</h2>
			<img src="/visualize/" alt="Dog's Bark Chart" class="centerImage" height="120" width="350" >
		</div>

	</div>
 
</body>
</html>